.song-details {
  position: absolute;
  left: 20px;
  line-height: 80px;
}

.song-details .song-name {
  font-family: 'Proxima Nova', Georgia, sans-serif;
  color: #fff;
  font-size: 35px;
}

.song-details .artist-name {
  font-family: 'Proxima Thin', Georgia, sans-serif;
  color: #aaa;
  font-size: 30px;
}

.song-controls {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;
  margin: 30px;
}

.forward,
.reverse,
.play-btn {
  padding: 0 5px;
  color: rgb(179, 179, 179);
  cursor: pointer;
}

.reverse,
.forward {
  font-size: 16px;
}

.song-player-container .play-btn {
  position: relative;
  top: -7px;
  font-size: 100px;
}

.song-player-container .pause-btn {
  position: relative;
  top: -7px;
  font-size:100px;
  margin: 0 5px;
}

.play-btn .fa {
  -webkit-text-stroke: 4px rgb(40, 40, 40);
}

.song-progress-container {
  margin-top: -10px;
  display: flex;
  justify-content: center;
}

.song-progress {
  width: 500px;
  height: 35px;
  background: rgb(64, 64, 64);;
  border-radius: 4px;
}

.song-progress:hover{
  cursor: pointer;
}

.song-expired {
  margin: 0;
  width: 0px;
  height: 35px;
  background: #1db954;
  border-radius: 4px;
}

.timer-start {
  font-size: 40px;
  position: relative;
  top: -5px;
  left: -10px;
}

.timer-end {
  font-size: 40px;
  position: relative;
  top: -5px;
  left: 10px;
}
